$marvelBrandColor: #e62429;
.details-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

    .details-content {
        display: flex;
        background-color: #fff;
        width: 60rem;
        height: 60%;
        padding: 1rem;
        overflow-y: auto;
        border-radius: 0.2rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        img {
            max-width: 390px;
        }
    }

    .details-overview {
        display: flex;
        flex-flow: column;
        flex: 1;
        margin-left: 1rem;
    }

    .overview-body {
        flex: 1;
        padding: 1rem 0;
        h2 {
            margin-top: 0;
        }
    }

    .overview-footer {
        margin-top: 1rem;
        text-align: right;
    }
    button {
        border-color: $marvelBrandColor;
        color: $marvelBrandColor;

        &:hover {
            background-color: $marvelBrandColor;
            color: #fff;
        }
    }
}
