$marvelBrandColor: #e62429;
.search-wrapper {
    display: flex;
    justify-content: center;
}

.search-box {
    font-size: 1.4rem;
    min-width: 400px;
    text-align: center;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: 1px solid #202020;

    &:focus {
        outline: none;
        border-color: $marvelBrandColor;
    }
}
