@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

body,
html {
  font-family: "Comic Neue", sans-serif;
  background-color: #f1f3f4;
}

body {
  padding-bottom: 4rem;
}

button {
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0.5rem 1rem;
  margin: 0 0 0 0.5rem;
  cursor: pointer;

  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.18);
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}